@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #C39523;
}
.navbar .links {
  margin-left: auto;

}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #C39523;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* todo previews / list */
.todo-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.todo-preview:hover {
  box-shadow: 2px 3px 8px rgba(195, 149, 35, 0.94);

}
.todo-preview h2 {
  font-size: 20px;
  color: #C39523;
  margin-bottom: 8px;
}
.todo-preview a{
  text-decoration: none;
}

/* todo details page */
.todo-details h2 {
  font-size: 20px;
  color: #C39523;
  margin-bottom: 10px;
}
.todo-details div {
  margin: 20px 0;
}
.todo-details button {
  background: #C39523;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #C39523;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #C39523;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.not-found {
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
  color: #C39523;
}
